.hero-image{
    background-image: url(../resources/Banner\ Image.png);
    height: 460px ;
    width: 1260px;

   padding-left: 30px;
   padding-right: 30px;
   display: flex;
   margin-top: 60px;
   margin-left: 60px;
   margin-right: 60px;
   margin-bottom: 0cqmin;
 
}
.hero-text{
   color:whitesmoke;
   text-align: center;
   margin-left: 350px;
   margin-top: 20px;
    text-shadow: black;
   text-emphasis-position: 10px;
 
   text-size-adjust: 50px;
   text-overflow: ellipsis;
  
}
div{
   text-align: center;
   padding: 70px;
}
h1 {
    font-size: 60px;
}
p{
    font-size: large;
}
h2{
    text-align: center;
}
.sami{
    background-image: url(../resources/Vectorrr.png);
    height: 400px;
    width: 1220px;
   padding-left: 80px;
   padding-top: 90px;
   margin-left: 60px;
   margin-right: 60px;
}
.maish{
    background-color:beige;
    text-align: center;
    padding: 30px;
    margin-right: 60px;
    margin-left: 60px;
    width: 1245px;
   
 
}
.amar{
    margin-top: 0cqmin;
    text-align: center;
}
.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;    
    border: red;
    

}
.bb{
    float: right;
    width: 6%;
    
}
.parent {
    position: relative;
    top: 0;
    left: 0;
  
  }
  
  .image1 {
  
    top: 10px;
    right: 100px;
   
    padding-right: 10000px;
    width: 200px;
    

  }
  
  .image2 {
    position: absolute;
    top: 80px;
    left: 30px;
    
    width: 90px;
  }
  .chompa{
    position: relative;
    
    width: 1px;
  

  }
  .bbq{
    width: 1000px;
    height: 100px;
    
  }
.popo{
    position: absolute;
    top: -50px;
    left: 740px;
    height: 140px;
}
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .row {
    display:flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }
 
  .oishu{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: 50px;
  }
  .nouka{
    background-color: orangered;
    padding: 7px;
    display: block;
  margin-left: auto;
  margin-right: auto;

  
  }
  .dhan{
    background-color:hsl(37, 100%, 92%) ;
    padding: 50px;
  }
  .lumn {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  
  .ow::after {
    content: "";
    clear: both;
    display: table;
  }
  .ow {
    display: flex;
    width: 200px;
    
    

  }
  
  .lumn {
    flex: 33.33%;
    padding: 5px;
  }
  .lumn {
    width: 100%;
  }  
  .ketumi{
    background-color: rgb(17, 15, 15);
    padding: 70px;

  }
  .nond{
    text-align:right;
  }
  .toma{
    padding-right: 80px;
    font-size: larger;
  }